
@{
    ViewBag.Title = "CommonView";
}

<h2>This is a <strong>Common</strong> View</h2>

<a class="btn btn-primary" href="/Employee/Aboutus">Go to About Us View</a>

<a class="btn btn-danger" href="/Employee/Index">Go to Index View</a>

<a class="btn btn-warning" href="/Employee/MyView">Go to MyView</a>