
@{
    ViewBag.Title = "Aboutus";
}

<h2>This is <strong>About Us</strong> View.</h2>

<a class="btn btn-primary" href="/Employee/Index">Go to Index View</a>

<a class="btn btn-danger" href="/Employee/Common">GO to Common View</a>

<a class="btn btn-warning" href="/Employee/MyView">Go to MyView</a>