
@{
    ViewBag.Title = "Index";
}

<h2>This is <strong>Index</strong> View</h2>

<a class="btn btn-primary" href="/Employee/Aboutus">Go to About Us View</a>

<a class="btn btn-danger" href="/Employee/Common">Go to Common View</a>

<a class="btn btn-warning" href="/Employee/MyView">Go to MyView</a>